*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div h1{
    text-align: center;
    font-size: 3rem;
    color: burlywood;
}
.store{
display: flex;
flex-wrap: wrap;
background-color: aliceblue;
}

.main{
    border: 2px solid black;
    /* text-align: center; */
}
.second h2, .second h5 {
text-align: center;
}
.img{
    height: 300px;
    width:300px;
    margin-left: 50px;
    /* border: 2px solid red; */
}